# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*

# Собранные файлы (допишите самостоятельно)

# --- Мои добавления ---

# Локальные зависимости проекта (генерируются командой npm install)
node_modules/

# Собранные файлы (генерируются командой npm run build или npm start)
/build/
